################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/514c9b15-f958-4d81-8879-291bdef4ec77.vsidx
/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/6ac75ed9-43f9-4905-ba02-d6fd23c998f5.vsidx
/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/54c5d458-1b65-49c8-8617-bba0d3b76ed0.vsidx
/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/66f67a80-32e8-4f43-b856-902690a5a509.vsidx
/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/read.lock
/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/98e1cd18-4689-430f-aa07-1487e13abddc.vsidx
/Safepot.Web.Api/.vs/Safepot.Web.Api/FileContentIndex/d6aad10c-1d0c-4ee2-b59e-9b821354277f.vsidx
