

<div class="row" style="margin-top:25px;">
    <div class="col-lg-4"></div>
    <div class="col-lg-3">
        <h5 style="color:green">Scan here to pay</h5>
        <img src="~/assets/img/scan.png" style="width:350px" />
    </div>
    <div class="col-lg-4">
        <div><u><h3>Bank Details</h3></u></div>
        <div>
            <table>
                <tr>
                    <td><b>Account Name</b></td>
                    <td>: Data Bricks Technologies</td>
                </tr>
                <tr>
                    <td><b>Account Number</b></td>
                    <td>: 408877445577</td>
                </tr>
                <tr>
                    <td><b>IFSC Code</b></td>
                    <td>: RATN0000356</td>
                </tr>
                <tr>
                    <td><b>Branch Name</b></td>
                    <td>: S R NAGAR</td>
                </tr>
                <tr>
                    <td><b>Bank Name</b></td>
                    <td>: RBL Bank</td>
                </tr>
            </table>
        </div>
    </div>
</div>